nav{
    margin:1.5rem auto;
}

nav .fa {
  color: var(--primary-font-icon-color);
}

nav ul{
    display: none;
}

nav li{
list-style: none;
}

nav a{
  color: var(--nav-font-color);
  text-decoration: none;
}
